<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
      <img src = "<%="/food_images/#{@post.image_name}"%>">
      <p>
        Store Name: <%= @post.store_name %>
      </p>

      <p id= Review>Review</p>
      <p>
        <%= @post.content %>
      </p>


      <div class="post-time">
        <%= @post.created_at %>
      </div>
      <div class="post-menus">
        <%= link_to("編集", "/posts/#{@post.id}/edit") %>
        <%= link_to("削除", "/posts/#{@post.id}/destroy", {method: "post"}) %>
      </div>
    </div>
  </div>
</div>
